@import "../../variables";

.width{
    width: 100%;
}
.home-container{
    background-color: $custom-background-off-white;
    border-radius:1%;
    overflow:hidden;
}
.text-welcome{
  font-size: 20px;

}