$orange-custom: #EA6648;
$orange-light-custom: #FC8471;
$gray-custom: #2f2f2f;
$gray-shadow-custom: #343a40;
$orange-custom-shadow: #9C351F;
$orange-custom-shadow-light: #E0583A;
$custom-background-off-white: #e2e2e2;
$white: #ffffff;
$black: #000000;
