@import "../../variables";

.welcome-iframe {
  width: 100%;
  border: 1px solid $orange-custom;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.vh-100 {
  height: 100vh;
}
.vh-60 {
  height: 60vh;
}
